@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


/* HTML ELEMENTS */
body {
    overflow-x: hidden;
} 

nav {
    min-width: 907px;
}


/* SASS VARIABLES */
$primary: #203454;
$secondary: #E7E5E5;
$red: red;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$colors : (
    "red": $red
);

/* PSEUDO-CLASSES */
:hover{
    outline: none !important;
    box-shadow: none!important;
}
  
:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: white !important;
}
  
:active{
    outline: none !important;
    box-shadow: none !important;
}



/* CUSTOM CSS CLASSES */
.logo-text-custom {
    color: $white !important;
}

.custom-button {
    background-color: $primary ;
    color: $white !important;
    border-color: $white !important;
}

.custom-button:hover {
    background-color: $primary;
    color: $red !important;
    border-color: $red !important;
}

.custom-searchbox {
    color:  $gray-600 !important;
}

.custom-checkbox-input:checked {
    background-color: #201c1c !important;
    border-color: $white !important;

}

.custom-checkbox-input {
    background-color: $white;
    border-color: $white;
}

/* dropdown menu background color*/
.navbar> div > li > .dropdown-menu {
    background-color: $primary; 
    }
/* dropdown menu font color*/ 
 .navbar > div > li > .dropdown-menu a{   
    color: $white; 
    }
/* dropdown menu list when hover*/
 .navbar > div > li > .dropdown-menu a:hover{
    background-color: $primary;
    color: $red;
    }   
.no-padding {
    padding: 0% !important;
}

.content-div {
    background-color: $white;
    border:solid 3px #CCD1D1;
}


.btn-prev-next{
    width: 100% !important; 
    padding:0% !important; 
    height: 100% !important;
    border-color: $primary !important;
    background-color: $primary !important;
}


.calendar-div {
    min-width: 365px !important;
}





@import "../node_modules/bootstrap/scss/bootstrap.scss";
