
/* HTML ELEMENTS */
body {
        background-color: #E7E5E5;
        max-width: 100%;
        overflow-x: hidden;
} 
nav {
        color: white;
        background-color: #203454 !important;
        min-width: 907px;
}
footer {
    color: white;
    background-color: #203454 !important;
    height: 60px;
}



/* PSEUDO-CLASSES */
:hover{
    outline: none;
    box-shadow: none!important;
}
  
:focus{
    outline: none;
    box-shadow: none !important;
    border-color: white !important;
}
  
:active{
    outline: none;
    box-shadow: none !important;
}

/* CUSTOM CSS CLASSES */
.content {
    background-color: white;
    border:solid 2px #CCD1D1;
    
}

.logo-text-custom {
    color: white;
}

.custom-button {
    background-color: #203454 ;
    color: white;
    border-color: white;
}

.custom-button:hover {
    background-color: #203454;
    color: red;
    border-color: red;
}

.custom-searchbox {
    color: grey !important;
}

.custom-checkbox-input:checked {
    background-color: #201c1c !important;
    border-color: white !important;

}

.custom-checkbox-input {
    background-color:white !important;
    border-color: white !important;
}

/* dropdown menu background color*/
.navbar> div > li > .dropdown-menu {
    background-color: #203454; 
    }
/* dropdown menu font color*/ 
 .navbar > div > li > .dropdown-menu a{   
    color: white; 
    }
/* dropdown menu list when hover*/
 .navbar > div > li > .dropdown-menu a:hover{
    background-color: #203454;
    color: red;
    }   